name: Publish

on:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: ./client

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Push git tag
        uses: bana118/action-autotag@1.1.6
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          strategy: package
          root: "client"
          tag_prefix: "v"
